.file-input {
  display: none;
}

.mat-form-field {
  margin-top: 5px;
}

.logo-upload-field {
  width: 240px;

  display: flex;
  align-items: center;

  .upload-placeholder {
    margin-left: 10px;
    cursor: default;
    line-height: 100%;
  }
}
