.addMenuButton {
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.field {
    width: 100%;
}

.mat-dialog-confirmation-container {
    padding: 0px;
}

.confirmation-container {
    margin: 15x;
}