.container {
    display: flex;
    /* justify-content: center; */
}

.menu {
    text-align: center;
    /* max-width: 800px; */
    margin-left: 40px;
    /* max-height: 80vh; */
}

h1 {
    margin-bottom: 0px;
}

.box-text {
    width: 350px;
}

.box-coordinate {
    width: 100px;
}


.tag-dropdown {
    width: 120px;
}

.coordInput {
    width: 40px;
    margin-left: 3px;
}

.delete-button {
    visibility: hidden;
}

.button-container {
    position: relative;
    width: 0;
    height: 0;
}

.markup-setting {
    overflow-y: auto;
}

.menu-title {
    /* position: absolute;
    top: 15px;
    left: 55px; */
    color: #797d80;
    font-size: 24px;
    display: inline-block;
    margin-left: 5px;
}

.menu-title-icon {
    /* position: absolute;
    top: 18px;
    left: 20px; */
    color: #797d80;
    font-size: 24px;
    margin-top: 2px;
    position: relative;
    top: 4px;
}

.menu-control {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 10px;
}


.paginator-control {
    width: 100px;
    display: inline-block;

}

::ng-deep .mat-mdc-paginator-range-label {
    display: none !important;
}

.menu-title-container {
    display: inline-block;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.arrow-control {
    min-width: 0px;
    padding: 0px;
    line-height: 10px;
}

.arrow-top {
    position: absolute;
    top: -15px;
    left: 15px;
}

.arrow-right {
    position: absolute;
    right: -30px;
}

.arrow-down {
    position: absolute;
    bottom: -15px;
    left: 15px;
}

.arrow-control-container {
    position: relative;
}

.arrow-control-container-2 {
    position: relative;
    margin-left: 30px;
}

.mat-column-presence {
    padding-left: 20px;
}

.mat-column-position {
    width: 20px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #A0B454b0 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #A0B454b0;
}

::ng-deep .mat-checkbox-checked>* .mat-checkbox-frame {
    border: none !important;
}


.mode-select {
    margin-right: 10px;
    margin-left: 10px;
}

.style-field {
    width: 150px;
    top: 10px;
}

.color-picker {
    margin-right: 10px;
}

.dish-line-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.button-visible {
    visibility: visible;
}

.dish-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden-container {
    display: none;
}

.edit-header-cell {
    text-align: center;
}