<form [formGroup]="form">
  <mat-form-field appearance="fill" class="field">
    <mat-label [translate]="'code.choose_rest'"></mat-label>
    <mat-select
      (selectionChange)="onRestaurantChange($event.value)"
      formControlName="restaurantNameControl"
    >
      <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant">
        {{ restaurant.name }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="form.controls.restaurantNameControl.invalid"
      [translate]="'code.choose_rest'"
    ></mat-error>
  </mat-form-field>
  <div *ngIf="form.controls.restaurantNameControl.valid">
    <p>{{ "code.sections_to_show" | translate }}:</p>
    <ul>
      <li *ngFor="let section of restaurantSections; let i = index">
        <mat-checkbox
          [formControl]="sectionsFormArray.controls[i]"
          (change)="updateRestaurantSections()"
        >
          {{ section.name }}
        </mat-checkbox>
      </li>
    </ul>
  </div>
  <mat-form-field class="field">
    <mat-label [translate]="'code.header'"></mat-label>
    <input
      matInput
      [placeholder]="'code.header_ph' | translate"
      formControlName="qrMenuDisplayNameControl"
    />
    <mat-icon matSuffix>create</mat-icon>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label [translate]="'code.qr.url'"></mat-label>
    <input
      matInput
      [placeholder]="'code.qr.ph' | translate"
      formControlName="urlSuffixControl"
    />
    <span matTextPrefix>{{ environment.selfUrl }}/qr/</span>
    <mat-error
      [translate]="'code.qr.required'"
      *ngIf="form.controls.urlSuffixControl.errors?.required"
    ></mat-error>
    <mat-error
      [translate]="'code.qr.invalid'"
      *ngIf="form.controls.urlSuffixControl.errors?.invalid"
    ></mat-error>
    <mat-icon matSuffix>create</mat-icon>
  </mat-form-field>
</form>
