<mat-progress-bar mode="indeterminate" *ngIf="disabled"></mat-progress-bar>
<div class="container">
  <mat-form-field class="field">
    <mat-label [translate]="'menu.name'"></mat-label>
    <input [formControl]="menuNameControl" matInput />
    <mat-icon matSuffix>create</mat-icon>
  </mat-form-field>

  <!-- Angular dropdown with language code selection -->
  <mat-form-field class="field">
    <mat-label [translate]="'menu.language'"></mat-label>
    <mat-select [formControl]="languageControl">
      <mat-option *ngFor="let language of languages" [value]="language.code">
        {{ language.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="field">
    <input
      type="file"
      multiple="false"
      [formControl]="fileControl"
      accept="application/pdf,image/png"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <div class="file-upload">
      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
      <span
        *ngIf="fileControl.invalid"
        [translate]="'menu.choose'"
        class="upload-placeholder"
      ></span>
      <span *ngIf="!fileControl.invalid" class="upload-placeholder">{{
        fileName
      }}</span>
    </div>
  </div>

  <button
    mat-raised-button
    class="add-menu-button"
    (click)="createMenu()"
    [disabled]="disabled || fileControl.invalid"
  >
    <span [translate]="'create'"></span>
  </button>
</div>
