.menu-item-section {
  padding-top: 10px;
  border: 1px solid #d3d3d3;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  max-width: 450px;
  display: block;
}

.mat-form-field {
  margin-top: 5px;
}
