<div class="menu-row" [style.opacity]="opacity">
  <mat-grid-list cols="7" rowHeight="150px">
    <!-- Menu metadata -->
    <mat-grid-tile [colspan]="screen.width > 800 ? 2 : screen.width > 600 ? 5 : 7" [rowspan]="1" class="grid-cell">
      <div class="menu-metadata">
        <mat-icon aria-hidden="false" class="menu-title-icon">picture_as_pdf</mat-icon>
        <div class="menu-title" [matTooltip]="menu.name">{{ menu.name }}</div>
        <div class="menu-date">
          <mat-icon aria-hidden="false" class="date-icon">schedule</mat-icon>{{
          menu.creationDate
          | date : "MMM d, y" : "" : translateHelper.getCurrentLang()
          }}
        </div>
        <div>
          <div class="menu-date" [matTooltip]="'menu.not_processed' | translate"
            *ngIf="menu.status != 'OCR_COMPLETED' && menu.status != 'REVIEWED'">
            <mat-icon class="date-icon">brunch_dining</mat-icon><span [translate]="'menu.dishes_count'"></span>: ?
            <span class="warning-asterisk">*</span>
          </div>

          <div class="menu-date" [matTooltip]="'menu.please_review' | translate" *ngIf="menu.status == 'OCR_COMPLETED'">
            <mat-icon class="date-icon">brunch_dining</mat-icon><span [translate]="'menu.dishes_count'"></span>:
            {{ getDishCount() }} <span class="warning-asterisk">*</span>
          </div>

          <div class="menu-date" *ngIf="menu.status == 'REVIEWED'">
            <mat-icon class="date-icon">brunch_dining</mat-icon><span [translate]="'menu.dishes_count'"></span>:
            {{ getDishCount() }}
          </div>
        </div>
      </div>
      <div class="button-menu" *ngIf="screen.width <= 600">
        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionMenu="matMenu">
          <button mat-button (click)="showGallery(menu)" class="menu-phone-button" [disabled]="menu.pages === null">
            <span [translate]="'show'"></span>
          </button>
          <button mat-button (click)="openPdf(menu)" class="menu-phone-button" [disabled]="menu.pages === null">
            <span [translate]="'download'"></span>
          </button>
          <div>
            <button mat-button (click)="openSmartMenu(menu)" class="menu-phone-button" [disabled]="true">
              <span [translate]="'edit'"></span>
            </button>
          </div>
          <button mat-button (click)="deleteMenu(menu)" class="menu-phone-button">
            <span [translate]="'delete'"></span>
          </button>
        </mat-menu>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-cell" *ngIf="screen.width > 800">
      <div class="menu-status" *ngIf="menu.status">
        <p class="status-title">Статус</p>
        <p class="status-value">{{ getStatus(menu.status) }}</p>
        <mat-spinner *ngIf="shouldShowSpinner(menu.status)" diameter="32"></mat-spinner>
      </div>
    </mat-grid-tile>

    <!-- Menu preview image -->
    <mat-grid-tile [colspan]="3" [rowspan]="1" class="grid-cell" *ngIf="screen.width > 800">
      <div *ngIf="previewImageUrl" class="menu-image-container" (click)="showGallery(menu)">
        <img class="menuThumbnail" [src]="previewImageUrl" />
      </div>
      <div *ngIf="!previewImageUrl">
        <img class="menuThumbnail"
          src="https://cdn.dribbble.com/users/55871/screenshots/2158022/media/8f2a4a2c9126a9f265fb9e1023b1698a.jpg" />
      </div>
    </mat-grid-tile>

    <!-- Menu Actions -->
    <mat-grid-tile [colspan]="screen.width > 800 ? 1 : 2" *ngIf="screen.width > 600" [rowspan]="1" class="grid-cell">
      <div class="flex-container menu-buttons">
        <button *ngIf="menu.pages" mat-icon-button (click)="showGallery(menu)" [matTooltip]="'menu.show' | translate"
          class="menu-button" [disabled]="menu.pages === null" [disabled]="!menu.pages">
          <mat-icon *ngIf="!displayMenu">visibility</mat-icon>
          <mat-icon *ngIf="displayMenu">visibility_off</mat-icon>
        </button>
        <button mat-icon-button (click)="openPdf(menu)" [matTooltip]="'menu.download' | translate" class="menu-button"
          [disabled]="menu.pages === null">
          <mat-icon>file_download</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteMenu(menu)" [matTooltip]="'delete' | translate" class="menu-button"
          *ngIf="globals.role == 'client'">
          <mat-icon>clear</mat-icon>
        </button>
        <div>
          <button (click)="openSmartMenu(menu)" mat-icon-button class="menu-button"
            [matTooltip]="'menu.edit_markup' | translate" *ngIf="menu.status == 'REVIEWED'">
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="openSmartMenu(menu)" mat-icon-button class="menu-button"
            [matTooltip]="'menu.edit_markup' | translate" *ngIf="menu.status == 'OCR_COMPLETED'">
            <span class="warning-asterisk">*</span>

            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- 
  Gallary using ngx-gallery library
<div *ngIf="displayMenu">
  <gallery [items]="images" [thumb]="false" [itemAutosize]="true"></gallery>
</div> -->

<div *ngIf="menu.pages">
  <div *ngIf="displayMenu" class="menu-preview">
    <mat-paginator [length]="menu.pages.length" [pageSize]="1" (page)="handlePageChange($event)">
    </mat-paginator>
    <div class="menu-page">
      <img [src]="renderedImages[currentMenuPage]" />
    </div>
  </div>
</div>