<div *ngIf="menu && ocrEditor" class="menu-control">
  <div class="menu-title-container">
    <mat-icon class="menu-title-icon">picture_as_pdf</mat-icon>
    <h1 class="menu-title">{{ menu.name }} / {{ page.current + 1 }}</h1>
  </div>
  <mat-paginator
    [length]="menu.pages!.length"
    [pageSize]="1"
    [hidePageSize]="true"
    (page)="changePage($event)"
    class="paginator-control"
  >
  </mat-paginator>
  <button
    mat-icon-button
    (click)="ocrEditor.toViewMode()"
    *ngIf="ocrEditor.isEdit()"
    [matTooltip]="'demo' | translate"
  >
    <mat-icon>visibility</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.toEditMode()"
    *ngIf="ocrEditor.isView()"
    [matTooltip]="'edit' | translate"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.zoomIn()"
    [matTooltip]="'markup.zoom_in' | translate"
  >
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.zoomOut()"
    [matTooltip]="'markup.zoom_out' | translate"
  >
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.selectAll()"
    *ngIf="ocrEditor.isEdit()"
    [matTooltip]="'markup.select_all' | translate"
  >
    <mat-icon>done_all</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.deselectAll()"
    *ngIf="ocrEditor.isEdit()"
    [matTooltip]="'markup.cancel' | translate"
  >
    <mat-icon>remove_done</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.deleteSelected()"
    *ngIf="ocrEditor.isEdit()"
    [matTooltip]="'markup.delete_selected' | translate"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.mergeSelection()"
    *ngIf="ocrEditor.isEdit()"
    [matTooltip]="'markup.merge' | translate"
  >
    <mat-icon>compress</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.rollback()"
    *ngIf="ocrEditor.isEdit()"
    [matTooltip]="'markup.rollback' | translate"
  >
    <mat-icon>history</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="ocrEditor.resetMarkup()"
    *ngIf="ocrEditor.isEdit()"
    [matTooltip]="'markup.reset' | translate"
  >
    <mat-icon>settings_backup_restore</mat-icon>
  </button>
  <mat-form-field class="mode-select style-field" *ngIf="ocrEditor.isView()">
    <mat-label [translate]="'markup.remove_style'"></mat-label>
    <mat-select
      [(ngModel)]="menu.stopStyle"
      (selectionChange)="onColorChange($event)"
    >
      <mat-option *ngFor="let mode of stopModes" [value]="mode.key">
        {{ mode.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="ocrEditor.isView()">
    <!-- <mcc-color-picker
      mccConnectedColorPicker
      [mccConnectedColorPickerOrigin]="trigger"
      alpha
      hideEmptyUsedColors
      (change)="menu.stopColor = $event + ''"
      [usedColorLabel]="'color.used' | translate"
      [btnCancelLabel]="'cancel' | translate"
      [btnConfirmLabel]="'submit' | translate"
      (change)="onColorChange($event)"
      [hideButtons]="true"
      [hideTransparentUsedColors]="true"
    >
      <mcc-color-picker-collection
        [label]="'color.main_colors' | translate"
        [colors]="primaryColors"
      >
      </mcc-color-picker-collection>
    </mcc-color-picker>
    <mat-form-field class="style-field">
      <mat-label [translate]="'markup.remove_color'"></mat-label>
      <input
        matInput
        mccColorPickerOrigin
        #trigger="mccColorPickerOrigin"
        [(ngModel)]="menu.stopColor"
      />
    </mat-form-field> -->
  </div>
  <button
    mat-icon-button
    (click)="saveMarkup()"
    [matTooltip]="'markup.save' | translate"
    [disabled]="saveDisabled"
  >
    <mat-icon>save</mat-icon>
  </button>
  <!-- <button mat-button (click)="deleteMarkup()" [matTooltip]="'markup.delete' | translate"><mat-icon>delete_sweep</mat-icon></button> -->
  <button
    mat-icon-button
    (click)="openHelp()"
    [matTooltip]="'markup.tutorial' | translate"
  >
    <mat-icon>help</mat-icon>
  </button>
</div>
<div class="container" *ngIf="ocrDocuments.length > 0">
  <div>
    <ng-ocr-editor-component
      [document]="ocrDocuments[page.current]"
      [boundingBoxStyle]="boxStyle"
      mode="edit"
      #ocrEditor
    ></ng-ocr-editor-component>
  </div>

  <!-- Edit markup -->
  <div
    class="markup-setting"
    *ngIf="menu && ocrEditor.isEdit()"
    [style.height.vh]="ocrEditor.canvasHeight"
  >
    <div>
      <button
        mat-icon-button
        (click)="ocrEditor.addLine(-1)"
        [matTooltip]="'markup.dish.add' | translate"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngFor="
        let line of ocrEditor.documentProvider.value!.markup;
        let i = index
      "
      (mouseover)="line.hovered = true; ocrEditor.redrawCanvas()"
      (mouseleave)="line.hovered = false; ocrEditor.redrawCanvas()"
      [id]="'line_' + i"
      class="dish-line-container"
    >
      <div class="buttonBox">
        <button
          mat-icon-button
          (click)="ocrEditor.removeLine(line)"
          *ngIf="line.hovered"
          class="removeButton"
          [matTooltip]="'markup.dish.remove' | translate"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="buttonBox">
        <button
          mat-icon-button
          (click)="ocrEditor.addLine(i)"
          *ngIf="line.hovered"
          class="addButton"
          [matTooltip]="'markup.dish.add_next' | translate"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-checkbox
        (change)="ocrEditor.onLineSelected($event)"
        [(ngModel)]="line.editSelected"
      ></mat-checkbox>
      <mat-form-field class="lineName">
        <input matInput [(ngModel)]="line.text" />
      </mat-form-field>
    </div>
  </div>

  <!-- View markup -->
  <div
    class="markup-setting"
    *ngIf="menu && ocrEditor.isView()"
    [style.height.vh]="ocrEditor.canvasHeight"
  >
    <table mat-table [dataSource]="ocrEditor.documentProvider.value!.markup">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let line; let i = index">{{ i + 1 }}.</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          [translate]="'markup.dish.title'"
        ></th>
        <td mat-cell *matCellDef="let line">{{ line.text }}</td>
      </ng-container>

      <ng-container matColumnDef="presence">
        <th
          mat-header-cell
          *matHeaderCellDef
          [translate]="'markup.dish.presence'"
        ></th>
        <td mat-cell *matCellDef="let line">
          <mat-checkbox
            (change)="ocrEditor.onLineSelected($event)"
            [(ngModel)]="line.highlight"
          ></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
