.menuThumbnail {
    object-fit: cover;
}

.crop {
    overflow: hidden;
    height: 100%;
}

.loadingSpinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.mat-card-header-text {
    margin: 0 16px !important;
}

.field {
    width: 350px;
}

.empty-placeholder {
    position: absolute;
    width: 100%;
    z-index: 15;
    text-align: center;
    top: 30vh;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.425);
}

.empty-placeholder>h1 {
    font-size: 55px;
    line-height: 55px;
    color: #66686950;
    font-weight: bold;
}

.empty-placeholder>p {
    font-weight: bold;
    color: #66686950;
}

.confirmation-container {
    margin: 24px;
}

.progress-bar {
    position: absolute !important;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #A0B454b0;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}