<mat-grid-list cols="7" rowHeight="175px">
  <!-- Restaurant information -->
  <mat-grid-tile
    [colspan]="screen.width > 800 ? 3 : screen.width > 600 ? 3 : 7"
    [rowspan]="1"
    class="grid-cell"
  >
    <div class="menu-metadata">
      <div class="menu-main-info">
        <mat-icon aria-hidden="false" class="title-icon">
          brunch_dining
        </mat-icon>
        <p
          class="menu-title"
          #titleElement
          [matTooltip]="checkOverflow(titleElement) ? rest.name : ''"
        >
          {{ rest.name }}
        </p>
      </div>
      <div class="menu-secondary-info">
        <mat-icon aria-hidden="false" class="secondary-icon">home</mat-icon>
        <p
          class="rest-address"
          #addressElement
          [matTooltip]="checkOverflow(addressElement) ? rest.address : ''"
        >
          {{ rest.city }}, {{ rest.address }}
        </p>
      </div>
      <div class="menu-secondary-info" *ngIf="rest.description">
        <mat-icon aria-hidden="false" class="secondary-icon">info</mat-icon>
        <p
          class="rest-description"
          #descriptionElement
          [matTooltip]="
            checkOverflow(descriptionElement) ? rest.description : ''
          "
        >
          {{ rest.description }}
        </p>
      </div>
      <div class="menu-secondary-info menu-social">
        <a
          href="{{ rest.facebookUrl }}"
          target="_blank"
          *ngIf="rest.facebookUrl"
        >
          <span
            class="iconify"
            data-icon="mdi-facebook"
            data-inline="false"
            *ngIf="rest.facebookUrl"
          ></span>
        </a>
        <a
          href="{{ rest.instagramUrl }}"
          target="_blank"
          *ngIf="rest.instagramUrl"
        >
          <span
            class="iconify"
            data-icon="mdi-instagram"
            data-inline="false"
          ></span>
        </a>
        <a href="{{ rest.vkUrl }}" target="_blank" *ngIf="rest.vkUrl">
          <span class="iconify" data-icon="mdi-vk" data-inline="false"></span>
        </a>
        <a
          href="{{ rest.tripAdvisorUrl }}"
          target="_blank"
          *ngIf="rest.tripAdvisorUrl"
        >
          <span
            class="iconify"
            data-icon="fa:tripadvisor"
            data-inline="false"
          ></span>
        </a>
      </div>
    </div>

    <!-- Actions for smaller screens -->
    <div class="button-menu" *ngIf="screen.width <= 600">
      <button mat-icon-button [matMenuTriggerFor]="actionMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #actionMenu="matMenu">
        <button
          mat-button
          (click)="editRestaurant(rest)"
          [matTooltip]="'edit' | translate"
          class="menu-button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-button
          (click)="deleteRestaurant(rest)"
          [matTooltip]="'delete' | translate"
          class="menu-button"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-menu>
    </div>
  </mat-grid-tile>

  <!-- Restaurant Image (Map view)-->
  <mat-grid-tile
    [colspan]="screen.width > 800 ? 3 : 2"
    [rowspan]="1"
    class="grid-cell"
    *ngIf="screen.width > 600"
  >
    <div class="menu-image-container">
      <img class="menuThumbnail" [src]="rest.mapsView" *ngIf="rest.mapsView" />
    </div>
  </mat-grid-tile>

  <!-- Actions -->
  <mat-grid-tile
    [colspan]="screen.width > 800 ? 1 : 2"
    [rowspan]="1"
    class="grid-cell menu-buttons"
    *ngIf="screen.width > 600"
  >
    <button
      mat-icon-button
      (click)="editRestaurant(rest)"
      [matTooltip]="'edit' | translate"
      class="menu-button"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="deleteRestaurant(rest)"
      [matTooltip]="'delete' | translate"
      class="menu-button"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
