.menu-metadata {
    width: calc(100% - 65px);
    overflow: hidden;
}

.menu-main-info {
    color: #797d80;
    border-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: default;
    p {
        display: inline-block;
        margin-left: 5px;
    }
}

.menu-secondary-info {
    font-size: 14px;
    color: #a4a6a8;
    white-space: nowrap;
    cursor: default;
    margin-bottom: 5px;
    height: 28px;

    p {
        margin-bottom: 0px;
        display: inline-block;
        margin-left: 5px;
    }
}

.rest-address {
    overflow: hidden;
    text-overflow: ellipsis;
}

.rest-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-row:hover {
    border: 1px solid #d4d4d4;
}

.menu-social {
    top: -5px;
}



.title-icon {
    font-size: 25px;
    color: #797d80;
}

.secondary-icon {
    font-size: 22px;
    color: #d4d4d4;
}

.menu-button {
    color: #797d80;
    font-size: 25px;
}

.menu-image-container {
    position: relative;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconify { 
    width: 15px; 
    height: 15px; 
}

a {
    text-decoration: none;
    color: #797d80;
}

a > .iconify {
    margin-left: 5px;
}