.menuDashboard {
  padding-top: 65px;
  height: 100%;
}

.menuGuestDashboard {
  height: 100%;
}

.sidenav {
  padding-top: 65px;
  width: 250px;
  background-color: #4f4742e5;
}

.mat-drawer-container {
  background-color: #fff !important;
}
