<mat-toolbar
  color="primary"
  class="app-header"
  *ngIf="globals.role !== 'guest' && router.url.indexOf('menu/') === -1"
>
  <div class="nav-tool-items">
    <img
      src="assets/logo_beta.svg"
      class="logo navbar-element"
      [style.width.px]="
        screen.width > 800 ? 224 : 224 - 200 * (1 - screen.width / 800)
      "
    />
    <div class="navbar-element">
      <div class="navbar-separator"></div>
    </div>
    <div class="navbar-element">
      <button
        mat-icon-button
        [matMenuTriggerFor]="languageMenu"
        [disabled]="globals.navbarDisabled"
        class="navbar-button"
      >
        <!-- <mat-icon class="language-icon">language</mat-icon> -->
        <i class="icon ion-android-globe language-icon"></i>
        <!-- <span class="language-label">{{ languageMapping[selectedLanguage] }}</span> -->
      </button>
      <mat-menu #languageMenu="matMenu">
        <button
          mat-menu-item
          (click)="selectLanguage('ru')"
          [class.selected_language]="translate.currentLang == 'ru'"
        >
          Русский
        </button>
        <button
          mat-menu-item
          (click)="selectLanguage('be')"
          [class.selected_language]="translate.currentLang == 'be'"
        >
          Беларуская
        </button>
      </mat-menu>
    </div>
    <div
      class="navbar-element"
      *ngIf="globals.isLogged && globals.role !== 'guest'"
    >
      <button
        class="navbar-button"
        mat-button
        (click)="toggleSidenav()"
        [disabled]="globals.navbarDisabled"
      >
        <mat-icon *ngIf="sidenav.opened">menu_open</mat-icon>
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      </button>
    </div>
    <div
      class="navbar-element"
      *ngIf="
        router.url !== '/menus' &&
        router.url !== '/restaurants' &&
        router.url !== '/codes' &&
        globals.isLogged &&
        !globals.navbarDisabled
      "
    >
      <button type="button" mat-button (click)="back()">
        <mat-icon>west</mat-icon
        ><span
          *ngIf="screen.width > 570"
          class="back-label"
          [translate]="'back'"
        ></span>
      </button>
    </div>

    <div
      *ngIf="!globals.isLogged && screen.width > 680"
      class="navbar-right-element"
    >
      <a
        mat-button
        routerLink="login"
        routerLinkActive="active"
        *ngIf="router.url === '/login'"
        >{{ "login.enter" | translate }}</a
      >
      <a
        mat-button
        routerLink="login"
        routerLinkActive="active"
        *ngIf="router.url !== '/login'"
        mat-raised-button
        >{{ "login.enter" | translate }}</a
      >
      <a
        mat-button
        routerLink="register"
        routerLinkActive="active"
        *ngIf="router.url === '/register'"
        >{{ "login.registration" | translate }}</a
      >
      <a
        mat-button
        routerLink="register"
        routerLinkActive="active"
        mat-raised-button
        *ngIf="router.url !== '/register'"
        >{{ "login.registration" | translate }}</a
      >
    </div>
    <div
      *ngIf="!globals.isLogged && screen.width <= 680"
      class="navbar-right-element"
    >
      <button mat-icon-button [matMenuTriggerFor]="actionMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #actionMenu="matMenu">
        <a
          mat-button
          routerLink="login"
          routerLinkActive="active"
          class="menu-button"
          >{{ "login.enter" | translate }}</a
        >
        <a
          mat-button
          routerLink="register"
          routerLinkActive="active"
          class="menu-button"
          >{{ "login.registration" | translate }}</a
        >
        <button mat-button (click)="contactUs()">
          <span [translate]="'contact.contact_us'" class="menu-button"></span>
        </button>
      </mat-menu>
    </div>
    <div
      *ngIf="globals.isLogged && screen.width > 570"
      class="navbar-right-element"
    >
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        [disabled]="globals.navbarDisabled"
        class="navbar-button"
      >
        <!-- <span *ngIf="globals.role === 'client'">{{globals.email}}</span>
        <span *ngIf="globals.role === 'reviewer'">{{globals.email}} (рэцэнзент)</span> -->
        <div class="profile-button" *ngIf="globals.role === 'client'">
          <span class="profile-label">{{ "my_profile" | translate }}</span>
          <span class="profile-email">{{ globals.email }}</span>
        </div>
        <span *ngIf="globals.role === 'reviewer'">{{
          "my_profile_reviewer" | translate
        }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          {{ "login.logout" | translate }}
        </button>
      </mat-menu>
    </div>
    <div class="navbar-right-element" *ngIf="screen.width > 570">
      <div class="navbar-separator"></div>
    </div>
    <div class="navbar-right-element help_button" *ngIf="screen.width > 300">
      <a mat-button href="https://www.meal.ist" target="_blank">
        <mat-icon>help_outline</mat-icon>
      </a>
    </div>
    <div
      class="navbar-right-element contact-us-button"
      *ngIf="screen.width > 680"
    >
      <button
        mat-stroked-button
        (click)="contactUs()"
        [disabled]="globals.navbarDisabled"
        class="navbar-button"
      >
        <span [translate]="'contact.contact_us'"></span>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container
  autosize
  [class.menuDashboard]="router.url.indexOf('menu/') === -1"
  [class.menuGuestDashboard]="router.url.indexOf('menu/') !== -1"
>
  <mat-drawer
    #sidenav
    class="sidenav"
    [mode]="screen.width > 1500 ? 'side' : 'over'"
    [opened]="true"
  >
    <!-- "globals.isLogged && globals.role !== 'guest' && screen.width > 800"> < *ngIf="globals.isLogged && globals.role !== 'guest'"> -->
    <div class="menu-container">
      <div>
        <button
          mat-button
          (click)="goTo('menus')"
          class="menuButton"
          [class.selectedButton]="router.url.includes('menu')"
        >
          <mat-icon aria-hidden="false" class="menu-icon">menu_book</mat-icon>
          <span class="menu-label" [translate]="'menus.title'"></span>
          <span *ngIf="globals.menusCount >= 0"
            >({{ globals.menusCount }})</span
          >
        </button>
      </div>
      <div>
        <button
          mat-button
          (click)="goTo('restaurants')"
          class="menuButton"
          [class.selectedButton]="router.url.includes('restaurants')"
          *ngIf="globals.role != 'reviewer'"
        >
          <mat-icon aria-hidden="false" class="menu-icon"
            >restaurant_menu</mat-icon
          >
          <span class="menu-label" [translate]="'rest.title'"></span>
          <span *ngIf="globals.restsCount >= 0"
            >({{ globals.restsCount }})</span
          >
        </button>
      </div>
      <div>
        <button
          mat-button
          (click)="goTo('codes')"
          class="menuButton"
          [class.selectedButton]="router.url.includes('codes')"
          *ngIf="globals.role != 'reviewer'"
        >
          <mat-icon aria-hidden="false" class="menu-icon">qr_code</mat-icon>
          <span class="menu-label" [translate]="'codes.label'"></span>
          <span *ngIf="globals.qrMenusCount >= 0"
            >({{ globals.qrMenusCount }})</span
          >
        </button>
      </div>
      <div class="panel-line"></div>
      <div *ngIf="globals.isLogged && sidenav.mode == 'over'">
        <div class="menuButton profile-name" *ngIf="globals.role === 'client'">
          {{ globals.email }}
        </div>
        <div
          class="menuButton profile-name"
          *ngIf="globals.role === 'reviewer'"
        >
          {{ globals.email }}<br /><span [translate]="'you_reviewer'"></span>
        </div>
        <div class="menuButton">
          <button mat-button (click)="logout()" class="logout-sidenav-button">
            {{ "login.logout" | translate }}
          </button>
        </div>
        <div class="menuButton">
          <button
            mat-button
            (click)="contactUs()"
            class="logout-sidenav-button"
          >
            <span [translate]="'contact.contact_us'"></span>
          </button>
        </div>
      </div>
      <div class="footer-basic-navigation">
        <footer>
          <div class="social">
            <a href="https://t.me/mealist_feedback_bot" target="_blank"
              ><i class="icon ion-android-send"></i
            ></a>
            <a (click)="contactUs()"><i class="icon ion-android-mail"></i></a>
          </div>
          <p class="copyright">Mealist © 2021</p>
        </footer>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <div
      class="footer-basic"
      *ngIf="!globals.isLogged && router.url.indexOf('menu/') === -1"
    >
      <footer>
        <div class="social">
          <a href="https://t.me/mealist_feedback_bot" target="_blank"
            ><i class="icon ion-android-send"></i
          ></a>
          <a (click)="contactUs()"><i class="icon ion-android-mail"></i></a>
        </div>
        <!-- <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">Services</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul> -->
        <p class="copyright">Mealist © 2021</p>
      </footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
