<app-top-toolbar [sidenav]="sidenav"></app-top-toolbar>

<mat-drawer-container
  autosize
  [class.menuDashboard]="router.url.indexOf('menu/') === -1"
  [class.menuGuestDashboard]="router.url.indexOf('menu/') !== -1"
>
  <mat-drawer
    #sidenav
    class="sidenav"
    [mode]="screen.width > 1500 ? 'side' : 'over'"
    [opened]="false"
  >
    <app-drawer-content [sidenav]="sidenav"></app-drawer-content>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <div
      class="footer-basic"
      *ngIf="!globals.isLogged && router.url.indexOf('menu/') === -1"
    >
      <footer>
        <div class="social">
          <a href="https://t.me/mealist_feedback_bot" target="_blank"
            ><i class="icon ion-android-send"></i
          ></a>
          <a (click)="contactUs()"><i class="icon ion-android-mail"></i></a>
        </div>
        <p class="copyright">Mealist © 2021</p>
      </footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
