.field {
  width: 100%;
  max-width: 450px;
  display: block;
}

ul {
  list-style-type: none;
}

.url-preifx {
  font-size: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #00000085;
}

.mat-form-field {
  margin-top: 5px;
}
